<form (ngSubmit)="onSubmit()" (input)="onInputChange()">
  <div class="input-group">
    <p>
      <label for="initial-investment" class="input-label">{{ uiText.t('initialInvestment') }}</label>
      <span class="input-wrapper">
        <input
          id="initial-investment"
          name="initial-investment"
          type="number"
          min="0"
          step="0.01"
          [(ngModel)]="enteredInitialInvestment"
          #initialInvestmentModel="ngModel"
          [class.invalid-input]="initialInvestmentModel.invalid && (initialInvestmentModel.dirty || initialInvestmentModel.touched)"
          required
        />
      <span class="suffix">€</span>
      </span>
    </p>
    <p>
      <label for="monthly-contribution" class="input-label">{{ uiText.t('monthlyContribution') }}</label>
      <span class="input-wrapper">
        <input
          id="monthly-contribution"
          name="monthly-contribution"
          type="number"
          min="1"
          step="0.01"
          [(ngModel)]="enteredMonthlyContribution"
          #monthlyContributionModel="ngModel"
          [class.invalid-input]="monthlyContributionModel.invalid && (monthlyContributionModel.dirty || monthlyContributionModel.touched)"
          required
        />
        <span class="suffix">€</span>
      </span>
    </p>
  </div>
  <div class="input-group">
    <p>
      <label for="expected-return" class="input-label">{{ uiText.t('expectedAnnualReturn') }}</label>
      <span class="input-wrapper">
        <input
          id="expected-return"
          name="expected-return"
          type="number"
          min="0"
          step="0.01"
          [(ngModel)]="enteredExpectedReturn"
          #expectedReturnModel="ngModel"
          [class.invalid-input]="expectedReturnModel.invalid && (expectedReturnModel.dirty || expectedReturnModel.touched)"
          required
        />
      <span class="suffix">%</span>
      </span>
    </p>
    <p>
      <label for="inflation-rate" class="input-label">{{ uiText.t('annualInflation') }}</label>
      <span class="input-wrapper">
        <input
          id="inflation-rate"
          name="inflation-rate"
          type="number"
          min="0"
          step="0.01"
          [(ngModel)]="inflationRate"
          #inflationRateModel="ngModel"
          [class.invalid-input]="inflationRateModel.invalid && (inflationRateModel.dirty || inflationRateModel.touched)"
          required
        />
        <span class="suffix">%</span>
      </span>
    </p>
  </div>
  <div class="input-group input-group-symmetric">
    <p>
      <label for="duration" class="input-label">{{ uiText.t('investmentDurationYears') }}</label>
      <span class="input-wrapper">
        <input
          id="duration"
          name="duration"
          type="number"
          min="1"
          step="1"
          [(ngModel)]="enteredDuration"
          #durationModel="ngModel"
          [class.invalid-input]="durationModel.invalid && (durationModel.dirty || durationModel.touched)"
          required
        />
      </span>
    </p>
    <p>
      <label for="starting-year" class="input-label">{{ uiText.t('startYear') }}</label>
      <span class="input-wrapper">
        <input
          id="starting-year"
          name="starting-year"
          type="number"
          [(ngModel)]="startingYear"
          #startingYearModel="ngModel"
          [class.invalid-input]="startingYearModel.invalid && (startingYearModel.dirty || startingYearModel.touched)"
          min="2000"
          max="3000"
          maxlength="4"
          required
        />
      </span>
    </p>
  </div>
  <p>
    <button>{{ uiText.t('calculate') }}</button>
  </p>
</form>
