<form (ngSubmit)="onSubmit()" >
  <div class="input-group">
    <p>
      <label for="initial-investment" class="input-label">{{ uiText.t('initialInvestment') }}</label>
      <span class="input-wrapper">
        <input
          id="initial-investment"
          name="initial-investment"
          type="number"
          [(ngModel)]="enteredInitialInvestment"
          required
        />
      <span class="suffix">€</span>
      </span>
    </p>
    <p>
      <label for="annual-investment" class="input-label">{{ uiText.t('monthlyContribution') }}</label>
      <span class="input-wrapper">
        <input
          id="annual-investment"
          name="annual-investment"
          type="number"
          [(ngModel)]="enteredAnnualInvestment"
          required
        />
        <span class="suffix">€</span>
      </span>
    </p>
  </div>
  <div class="input-group">
    <p>
      <label for="expected-return" class="input-label">{{ uiText.t('expectedAnnualReturn') }}</label>
      <span class="input-wrapper">
        <input
          id="expected-return"
          name="expected-return"
          type="number"
          [(ngModel)]="enteredExpectedReturn"
          required
        />
      <span class="suffix">%</span>
      </span>
    </p>
    <p>
      <label for="inflation-rate" class="input-label">{{ uiText.t('annualInflation') }}</label>
      <span class="input-wrapper">
        <input
          id="inflation-rate"
          name="inflation-rate"
          type="number"
          [(ngModel)]="inflationRate"
          required
        />
        <span class="suffix">%</span>
      </span>
    </p>
  </div>
  <div class="input-group input-group-symmetric">
    <p>
      <label for="duration" class="input-label">{{ uiText.t('investmentDurationYears') }}</label>
      <span class="input-wrapper">
        <input
          id="duration"
          name="duration"
          type="number"
          [(ngModel)]="enteredDuration"
          required
        />
      </span>
    </p>
    <p>
      <label for="starting-year" class="input-label">{{ uiText.t('startYear') }}</label>
      <span class="input-wrapper">
        <input
          id="starting-year"
          name="starting-year"
          type="number"
          [(ngModel)]="startingYear"
          min="1000"
          max="9999"
          maxlength="4"
          required
        />
      </span>
    </p>
  </div>
  <p>
    <button>{{ uiText.t('calculate') }}</button>
  </p>
</form>
