form {
  padding: 1rem;
  max-width: 30rem;
  margin: 2rem auto;
  border-radius: 4px;
  background: linear-gradient(180deg, #307e6c, #2b996d);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.input-group {
  display: flex;
  justify-content: space-evenly;
  gap: 1.5rem;
}

label {
  display: block;
  margin-bottom: 0.25rem;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #76c0ae;
  border-radius: 0.25rem;
  background-color: transparent;
  color: #c2e9e0;
  font-size: 1rem;
}

input.invalid-input {
  border-color: #ff8a8a;
  background-color: rgba(141, 24, 24, 0.35);
}

button {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #76c0ae;
  border-radius: 0.25rem;
  background-color: #83e6c0;
  color: #1a1f1d;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  background-color: #aaf1d6;
}

.input-label {
  font-size: 0.6rem;
}

.input-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 300px;
}

.input-wrapper input {
  width: 100%;
  padding-right: 24px;
  box-sizing: border-box;
}

.input-wrapper .suffix {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: white;
}

.input-group-symmetric {
  display: flex;
  gap: 1.5rem;
}

.input-group-symmetric p {
  flex: 1;
  min-width: 0;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

