name: Deploy to GH Pages

on:
  push:
    branches:
      - master

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install dependencies
        run: npm install --legacy-peer-deps

      - name: Build the project
        run: npm run build -- --base-href=/investment-calculator/
        env:
          NODE_ENV: production

      - name: Deploy to GitHub Pages
        if: ${{ github.event_name != 'pull_request' && success() }}
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: dist/essentials-practice/browser
